/*body */
body {
  background-color: lightgrey;
  margin: 0;
  font-family: Arial, sans-serif;
}

/*header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  padding: 10px 20px;
  color: white;
}

/*scritta 'BOOLFIX' */
.logoName {
  font-size: 20px;
  font-weight: bold;
}

/*barra di ricerca */
input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
}

/*bottone 'Cerca' */
button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}

/*contenitore principale per le card */
.search-results {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /*spazio tra le card */
  justify-content: space-between;
  margin: 20px 0;
}

/*stile per ogni card */
.movie-card {
  width: calc(25% - 20px);
  /* 4 card per riga con gap tra di loro */
  box-sizing: border-box;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

/*effetto hover per ingrandire la card */
.movie-card:hover {
  transform: scale(1.05);
}

/*immagine della copertina */
.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

/*titolo */
.movie-card h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #333;
}

/*titolo originale */
.movie-card p {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 8px;
}

/*stelle di valutazione */
.stars {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.star {
  color: #ddd;
  font-size: 1.2rem;
  margin: 0 2px;
}

.star.filled {
  color: gold;
}